---
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '../utils/formatDate';
import LayoutWithSidebar from './LayoutWithSidebar.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<LayoutWithSidebar title={title} description={description}>
  <article>
    <time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time>
    {
      updatedDate && (
        <time datetime={updatedDate.toISOString()}>
          最終更新: {formatDate(updatedDate)}
        </time>
      )
    }
    <h1>{title}</h1>
    <hr />
    <slot />
  </article>
</LayoutWithSidebar>

<style>
  article {
    max-width: 720px;
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
    text-align: center;
  }

  time {
    display: block;
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
    font-size: 0.9rem;
  }

  time + time {
    font-style: italic;
    font-size: 0.85rem;
  }

  h1 {
    margin: 0.5em 0;
    line-height: 1.2;
  }

  hr {
    margin-bottom: 2em;
  }

  article :global(> :not(time):not(h1):not(hr)) {
    text-align: left;
  }
</style>
